*.pyc
*.ini
*.swp
*.orig
.project
.pydevproject
*.db
.settings
*.patch
*~
*.egg-info*
/testproject/config.py
/testonetwoproject/config.py
build
dist
MANIFEST
/docs/.build
/bin/
/include/
/lib*
nbproject
