include README
include README.rst
include MANIFEST.in
include LICENSE
include CREDITS
include pavement.py
include paver-minilib.zip
recursive-include docs *
recursive-include djangosanetesting *.py
prune djangosanetesting/*.pyc
